/* 새로운거래 , 날짜, 내용, 금액 글자 margin값 적용 */
h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* input태그, button 태그 일괄 적용 CSS */
input,
button,
select {
  border: 1.090000033378601px solid #6d6d6d;
  border-radius: 10px;
  background-color: #f8eba0;
  text-align: center;
  border-radius: 10px;
}
/* 날짜 기입 CSS */
.dateInput {
  display: flex;
  justify-content: space-between; /* 간격 유지 */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
/* input 태그 안쪽 CSS */
.dateInput input {
  width: 30%;
  height: 40px;
  border: 1px solid #6d6d6d;
  background-color: #f8eba0;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: black;
}
/* 들어온돈 나간돈 CSS */
.selectInOut {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.selectInOut button {
  width: 130px;
  height: 40px;
}
/* 카테고리 선택 CSS */
.dropdown {
  /* 04 Dropdown (frame) */
  width: 130px;
  height: 30px;
  padding: 8px 16px;

  background: #f8eba0;

  border: 1px solid #6d6d6d;

  margin-bottom: 10px;
}
/* 메모내용 CSS */
.memo {
  width: 98%;
  display: flex;
  justify-content: flex;
  height: 50px;
  background-color: #f8eba0;
}
/* 금액입력 버튼 CSS */
.inputMoney {
  width: 98%;
  height: 40px;
  min-width: 50px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  background-color: #f8eba0;
  margin-bottom: 10px;
}

/* 확인 및 취소 버튼 CSS */
.submitCancel {
  display: flex;
  justify-content: space-between;
}
.submitCancel button {
  width: 130px;
  height: 40px;
  background-color: #af8f6f;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

/* 들어온돈 나간돈 활성 CSS */
button.active {
  background-color: #af8f6f; /* 활성 상태 CSS */
  color: black;
}

/* input type="number" 화살표 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cancel-link,
.cancel-link:visited {
  text-decoration: none; /* 방문한 링크와 방문하지 않은 링크의 밑줄 제거 */
  color: white; /* 링크의 색상 변경 */
}
