<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .btnColor {
        background-color: aqua;
        color: black;
      }
      .btnAlign {
        text-align: center;
        width: 120px;
      }
      .btnBorder {
        border: khaki dashed 1px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="checkbox" v-model="btnStyle.btnColor" />
      색상<br />
      <input type="checkbox" v-model="btnStyle.btnAlign" />
      정렬, 크기<br />
      <input type="checkbox" v-model="btnStyle.btnBorder" />
      테두리<br />
      <!-- 미리 만들어둔 객체를 바인딩 -->
      <button :class="btnStyle">버튼</button>
    </div>
  </body>
  <script>
    const vueApp = Vue.createApp({
      name: 'App',
      data() {
        // 옵션을 초기화할 때 미리 객체로 생성해 둠
        return {
          btnStyle: {
            btnColor: false,
            btnAlign: false,
            btnBorder: false,
          },
        };
      },
    }).mount('#app');
  </script>
</html>
