@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Noto Sans KR'
}

.avatar-sm {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.jumbotron {
    background-image: url('/resources/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 2rem;
    margin-top:1.5rem;
}