<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      #list {
        width: 600px;
        border: 1px solid black;
        /* border-collapse에서 collapse: 인접한 셀의 테두리를 하나로 병합 */
        border-collapse: collapse;
      }
      #list td,
      #list th {
        border: 1px solid black;
        text-align: center;
      }
      #list > thead > tr {
        color: yellow;
        background-color: purple;
      }
      .divider {
        height: 2px;
        background-color: gray;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <table id="list">
        <thead>
          <tr>
            <th>번호</th>
            <th>이름</th>
            <th>전화번호</th>
          </tr>
        </thead>
        <!-- contact로 해도 상관없음, id 내맘대로 / 밑에 데이터랑 같을 필요 없음 -->
        <tbody id="contacts">
          <!-- 여러 요소를 묶어서 반복 렌더링 하기 / <template v-for="..."> -->
          <template v-for="(contact, index) in contacts" :key="contact.no">
            <tr>
              <td>{{index+1}}</td>
              <td>{{contact.name}}</td>
              <td>{{contact.tel}}</td>
            </tr>
            <tr class="divider" v-if="index%4===3">
              <td colspan="3"></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </body>
  <script>
    const vueApp = Vue.createApp({
      name: 'App',
      data() {
        return {
          pageno: 1,
          pageSize: 4,
          totalcount: 100,
          contacts: [
            { no: 1011, name: 'RM', tel: '010-3333-3333' },
            { no: 1012, name: '정국', tel: '010-3333-3333' },
            { no: 1013, name: '제이홉', tel: '010-3333-3333' },
            { no: 1014, name: '슈가', tel: '010-3333-3333' },
            { no: 1012, name: '정국', tel: '010-3333-3333' },
            { no: 1013, name: '제이홉', tel: '010-3333-3333' },
            { no: 1011, name: 'RM', tel: '010-3333-3333' },
            { no: 1012, name: '정국', tel: '010-3333-3333' },
            { no: 1013, name: '제이홉', tel: '010-3333-3333' },
            { no: 1014, name: '슈가', tel: '010-3333-3333' },
            { no: 1012, name: '정국', tel: '010-3333-3333' },
            { no: 1013, name: '제이홉', tel: '010-3333-3333' },
          ],
        };
      },
    }).mount('#app');
  </script>
</html>
